* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a:link {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.topmain {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    /* align-items: center; */
    padding-bottom: 75px;
    flex-grow: 1;
    flex-shrink: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Hero New', sans-serif;
    gap: 100px;
    background-color: #1f2937;
    color: white;
    /* margin-left: 190px;
    margin-right: 100px; */
    margin-top: 10px;
}

.header2 {
    display: flex;
    flex-direction: column;
    /* margin-top: 100px; */
    max-width: 350px;
    gap: 10px;
    color: white;
}

h1 {
    max-width: 300px;
    font-family: 'Hero New', sans-serif;                                          
}

p {
    font-size: 15px;
    font-family: 'Hero New', sans-serif;
                                                
}

button {
    max-width: 100px;
    max-height: 30px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 3px 10px;
}

.placeholder {
    width: 350px;
    height: 175px;
    background-color: rgb(124, 124, 124);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.top {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #1f2937;
    gap: 50px;
}


.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.card {
    border: 3px solid #3882F6;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}

.text {
    width: 100px;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}
